@model ObligatorioP3.Models.Emprendimiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emprendimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuntajeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuntajeTotal)
        </dd>

    </dl>
</div>
@if (ViewBag.FinanciarSuccess != "")
{
    <p class="alert alert-success text-center">
        @ViewBag.FinanciarSuccess
    </p>
}
else if (ViewBag.FinanciarError != "")
{
    <p class="alert alert-danger text-center">
        @ViewBag.FinanciarError
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
    @if (Session["Usuario"] != null)
    {
        ObligatorioP3.Models.Financiador financiador = Session["Usuario"] as ObligatorioP3.Models.Financiador;

        if (financiador != null && Model.Financiador == null)
        {
            <span> | </span>
            TempData["emprendimientoId"] = Model.Id;
            TempData["financiadorId"] = financiador.Id;
            @Html.ActionLink("Financiar", "Financiar", "Emprendimientoes")
        }
    }
    </p>
