@model IEnumerable<ObligatorioP3.Models.Emprendimiento>

@{
    ViewBag.Title = "Emprendimientos";
}

<h2>Emprendimientos</h2>

@if (ViewBag.MensajeInicializar != "")
{
    <p class="alert alert-danger">
        @ViewBag.MensajeInicializar<span>@Html.ActionLink("inicializar la aplicacion", "Inicializar")</span>
    </p>
}

    <div class="pull-right" style="margin-top: 10px">
        @using (Html.BeginForm("Index", "Emprendimientoes",
        FormMethod.Post, new { @class = "form-inline" }))
        {
        <div class="form-group">
            <label for="costoMin">Costo mínimo:</label>
            @Html.TextBox("costoMin")
        </div>
        <div class="form-group">
            <label for="costoMax">Costo máximo:</label>
            @Html.TextBox("costoMax")
        </div>
        <div class="form-group">
            <label for="tiempoMax">Duración máxima:</label>
            @Html.TextBox("tiempoMax")
        </div>

            if (Session["Usuario"] != null)
            {
                ObligatorioP3.Models.Financiador financiador = Session["Usuario"] as ObligatorioP3.Models.Financiador;

                if (financiador != null)
                {
                    <div class="checkbox">
                        @Html.CheckBox("financiable")
                        <label for="financiable">Lo puedo financiar</label>
                    </div>
                }
            }

        <input type="submit" value="Filtrar" class="btn btn-default" />
        }
    </div>

<div class="clearfix"></div>
<table class="table" style="margin-top: 10px">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th title="Ordenar por Costo">
            @Html.ActionLink("Costo", "Index", new { sortOrder = ViewBag.CostoSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntajeTotal)
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>
@{ int i = 0; }
@foreach (var item in Model) {
    i++;
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntajeTotal)
        </td>
        <td>
            @if (item.Financiador == null)
            {
                <p class="text-success">Sin financiamiento</p>
            }
            else
            {
                <p class="text-danger">Financiado</p>
            }
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
